body{
margin:10px;
align-content:center;
}
header h1{
text-align:center;
}
.faicons i{
font-size:60px;
}
.clear{
clear:both;
}
section{
background-color:rgba(154,154,4,0.2);
box-shadow:0px 0px 5px 2px rgba(0,0,0,0.3);
}
section h2{
text-align:center;
}
article{
padding:15px;
}
.simple-div{
text-align:justify;
text-justify:auto;
}
pre{
border-left:solid blue 2px;
color:blue;
background-color:rgba(154,154,50,0.2);
}
.btna{
color:white;
background-color:green;
padding:6px;
text-decoration:none;
}

.nxt-btn{
float:right;
margin-bottom:10px;
padding-top:10px;
padding-bottom:10px;
padding-left:30px;
padding-right:30px;
color:white;
background-color:green;
text-decoration:none;
}

.prev-btn{
float:left;
margin-bottom:10px;
padding-top:10px;
padding-bottom:10px;
padding-left:30px;
padding-right:30px;
color:white;
background-color:green;
text-decoration:none;
}

.beech{
text-align:center;
}

td{
padding-left:100px;
padding-right:100px;
padding-top:25px;
padding-bottom:25px;
}
.pk-inline{
display:inline-block;
}